#alreadyTaken {
    display: none;
}

.full-width { width: 100%; }

.margin-right {
    margin-right: 1em !important;
}

.second {
    margin-left: 1em !important;
}

.collapsible-body p {
    margin-top: 0 !important;
}

.hidden {
    display: none !important;
}

.noOpacity {
    opacity: 0 !important;
}

.progress {
    margin-top: 0 !important;
}

.btn-floating i {
    color: black !important;
}

.profile {
    cursor: pointer;
    transition: 0.5s;
}

.profile:hover {
    background-color: #DCF5FF;
}

.profile .selected-account i {
    color: #554E57;
}

.chip img {
    background: white;
}
